// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;


$navbar-height: 5rem;
$footer-height: 5rem;

html,body{
    min-height: 100vh;
    max-height: max-content;
}

.menu-header-discount{
    position: relative;
}

.menu-header-discount::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 0 0 6rem 6rem;
    border-color: transparent transparent hsl(0, 72%, 51%) transparent;
}

.menu-header-discount{
    .discount-amount{
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        rotate: -45deg;
        transform: translateY(-75%);
    }
}

textarea{
    resize: none;
}

.navbar{
    height: $navbar-height;
}

.menu{
    position: absolute;
    top: $navbar-height;
    width: 100%;
    height: 100vh;
    transition: all 1s ease;
}

footer{
    height: $footer-height;
}

main{
    min-height: calc(100vh - ($navbar-height + $footer-height));
}